[Desktop Entry]
Name=Quran Reader
Comment=Read and browse the Holy Quran
Exec=quran-reader
Icon=io.github.hihebark.QuranReader
Terminal=false
Type=Application
Categories=Education;Religion;
Keywords=quran;islam;arabic;mushaf;reading;
StartupWMClass=io.github.hihebark.QuranReader
